
.padre {
	width: 800px;
    height: 80px;
    background: pink;
    border-top: 20px;
    border-right: 10px;
    border-bottom: 20px;
    border-left: 10px;
    border-style: solid;
    border-color: purple;
    padding: 60px 20px;
}
.hijo {
	width:400px; 
	height:50px;
	background: white;
	border: 2px blue dashed;
	margin: 0 auto;
	text-align: center;
	padding: 10px 5px;

}